{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Music of Changes{% endblock %}

{% block main %}

<section class="welcome">
    <h1>Bienvenue sur le Music of changes</h1>
    <h2>Le site de la musique expérimentale</h2>
</section>
{% endblock %}
